@using Microsoft.AspNet.Identity
<div id="header">
    <h1>MDForum | Portal</h1>
</div>
<div id="navigation">
    <ul>

        <li id="lhome">
            @Html.ActionLink("Acasa", "Index", "Home")
        </li>
        <li id="mysterious">
            <a href="#03">Ceva neclar</a>
        </li>
        <li id="labout">
            <a href="#04">Despre Noi</a>
        </li>
        <li id="lcontact">
            <a href="#05">Contacteaza -ne</a>
        </li>
        @if (!Request.IsAuthenticated)
        {
            <li style=" position: absolute; right:10px">@Html.ActionLink("Inregistrare", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>

            <li style="position: absolute; right: 134px">@Html.ActionLink("Logare", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
        }
        else
        {    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

                <li style=" position: absolute; right:10px"><a href="javascript:document.getElementById('logoutForm').submit()">Iesi</a></li>
        }
        }
    </ul>
</div>